* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
    width: 98%;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 70px;
    opacity: 1;
    padding: .5rem;
    box-shadow: inset;

}

.logo-container {
    top: 30px;
    left: 50px;
    width: 211px;
    height: 48px;
    background: transparent url('img/TestLogo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}


.navigation-container {
    display: flex;
    justify-content: center;
    width: 663px;
    height: 63px;
    top: 23px;
    left: 473px;
}

.navigation-container ul{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
}

.navigation-container li {
   display: flex;
   align-items: center;
   gap: 1rem;
   padding: 1rem;

}

.navigation-container li:hover {
    background: var(--activestate_bg_1) 0% 0% no-repeat padding-box;
    background: #01F0D0 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
    cursor: pointer;

}


.practitioner-container {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-right: 2rem;
}

.profile-img-box {
    top: 32px;
    left: 1309px;
    width: 44px;
    height: 44px;
    background: transparent url('img/senior-woman-doctor-and-portrait-smile-for-health-2023-11-27-05-18-16-utc.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}


.description strong {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal bold 14px/19px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}

.description p {
    color: var(--unnamed-color-707070);
    font: normal normal normal 14px/19px Manrope;
}

.setting {
    display: flex;
    gap: .5rem;
    margin-left: 1rem;

}


