.patient-container {
    display: flex;
    align-items: center;
    gap: .8rem;
    padding-right: 0;
    padding: 1rem;

}

.patient-container:hover {
    background: var(--activestate_bg_2) 0% 0% no-repeat padding-box;
    background: #D8FCF7 0% 0% no-repeat padding-box;
    opacity: 1;
    cursor: pointer;
}


.patient-info {
    width: 50%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-707070);
    text-align: left;
    font: normal normal normal 14px/19px Manrope;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;


}

.name {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal bold 14px/19px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}

.profile-img {
    display: flex;
    align-items: center;
    width: 15%;
}

.profile-img img {
    width: 100%;
}


.more-horiz {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 4rem;
}